<form name="irForm.addMetadata" ng-submit="addMetadata(irForm.createContainer)" novalidate>
    <div class="modal-header {{attr.modalHeaderClass}}">
      <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelDeleteIr()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add Metadata</h4>
    </div>
    <div class="modal-body" ng-init="irForm.addMetadata.entries=[{label:'',value:''}]">
        
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="metadata.label">Label</label>
                    <input name="metadata.label" type="text" ng-model="irForm.addMetadata.entries[0].label" class="form-control" placeholder="http://purl.org/dc/elements/1.1/title" required>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="metadata.value">Value</label>
                    <input name="metadata.value" type="text" ng-model="irForm.addMetadata.entries[0].value" class="form-control" placeholder="My Title" required>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <button class="btn btn-success" ng-click="irForm.addMetadata.entries.push({label:'',value:''})"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="metadatum in irForm.addMetadata.entries track by $index" ng-hide="$first">
            <div class="col-xs-5">
                <div class="form-group">
                    <input name="metadata.label" type="text" ng-model="metadatum.label" class="form-control" placeholder="http://purl.org/dc/elements/1.1/title" required>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <input name="metadata.value" type="text" ng-model="metadatum.value" class="form-control" placeholder="My Title" required>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <button class="btn btn-danger" ng-click="irForm.addMetadata.entries.splice($index,1)"><span class="glyphicon glyphicon-minus"></span></button>
                </div>
            </div>
        </div>
        
        
      
    </div>     
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-class="{'btn-warning': irForm.addMetadata.$dirty}" ng-click="closeModal()">Cancel</button>
      <button type="submit" class="btn btn-success" ng-disabled="irForm.addMetadata.$invalid">Add</button>
    </div>
</form>  