<form name="repositoryViewForm.advancedUpdate" ng-submit="advancedUpdate(repositoryViewForm.advancedUpdate.query)" novalidate>
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="resetAdvancedUpdate()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Advanced Update</h4>
  </div>
  <div class="modal-body" ng-init="resetAdvancedUpdate()">
    <div class="form-group">
      <label for="properties.update">Query</label>
      <textarea name="properties.update" ng-model="repositoryViewForm.advancedUpdate.query" class="form-control fixed-vertical" cols="10" rows="20"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="resetAdvancedUpdate()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="repositoryViewForm.advancedUpdate.query.length === 0 || submitClicked">Update</button>
  </div>
</form>
