<form name="schemaForms.create" ng-submit="createSchema()" novalidate class="schema-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="resetSchemaForms()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Schema</h4>
  </div>
  <div class="modal-body">

    <validationmessage results="schemaForms.getResults()"></validationmessage>
    
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">            

        <validatedinput
          model="schemaToCreate"
          property="name"
          label="Name"
          placeholder="Name of the new schema"
          form="schemaForms.create"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>
        
        <validatedinput
          model="schemaToCreate"
          property="abbreviation"
          label="Abbreviation"
          placeholder="Abbreviation for the new schema name"
          form="schemaForms.create"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedinput
          model="schemaToCreate"
          property="namespace"
          label="Namespace"
          placeholder="URI of the schema namespace"
          form="schemaForms.create"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>
        
      </div>
      <div class="col-sm-5 text-center">
        <button class="btn btn-large btn-success" ng-click="getProperties(schemaToCreate)">
          <span ng-if="!gettingProperties">Get Properties</span>
          <span ng-if="gettingProperties" class="glyphicon glyphicon-refresh spinning"></span>
        </button>
      </div>
    </div>
    
  </div>     
  <div class="modal-footer">
    <button type="button" class="btn" ng-class="{'btn-default': schemaForms.create.$pristine, 'btn-warning': !schemaForms.create.$pristine}" ng-click="resetSchemaForms()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="schemaForms.create.$invalid">Create</button>
  </div>
</form>
      