<form name="irForms.create" ng-submit="createIr()" novalidate>
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateIr()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create IR</h4>
  </div>
  <div class="modal-body">

    <validationmessage results="irForms.getResults()"></validationmessage>      
    
    <validatedinput
      model="irToCreate"
      property="name"
      label="Name"
      placeholder="Name of the new IR"
      form="irForms.create"
      validations="irForms.validations"
      results="irForms.getResults()"
      autocomplete="off">
    </validatedinput>
    
    <validatedinput
      model="irToCreate"
      property="uri"
      label="URI"
      placeholder="URI of the new IR"
      form="irForms.create"
      validations="irForms.validations"
      results="irForms.getResults()"
      autocomplete="off">
    </validatedinput>
    
  </div>     
  <div class="modal-footer">
    <button type="button" class="btn" ng-class="{'btn-default': irForms.create.$pristine, 'btn-warning': !irForms.create.$pristine}" ng-click="cancelCreateIr()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="irForms.create.$invalid">Create</button>
  </div>
</form>
      