<form name="irForms.create" ng-submit="createIr()" novalidate class="ir-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateIr()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create IR</h4>
  </div>
  <div class="modal-body">

    <validationmessage results="irForms.getResults()"></validationmessage>
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="General">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">

            <validatedselect
              model="irToCreate"
              property="type"
              options="iRTypes"
              optionproperty="gloss"
              optionvalue="value"
              label="Type"
              placeholder="Type of the new IR"
              form="irForms.create"
              validations="irForms.validations"
              results="irForms.getResults()"
              no-id="true">
            </validatedselect>

            <validatedinput
              model="irToCreate"
              property="name"
              label="Name"
              placeholder="Name of the new IR"
              form="irForms.create"
              validations="irForms.validations"
              results="irForms.getResults()"
              autocomplete="off"
              no-id="true">
            </validatedinput>

            <validatedinput
              model="irToCreate"
              property="rootUri"
              label="Root URI"
              placeholder="Root URI of the new IR"
              form="irForms.create"
              validations="irForms.validations"
              results="irForms.getResults()"
              autocomplete="off"
              no-id="true">
            </validatedinput>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="Authentication">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <validatedinput
                model="irToCreate"
                property="username"
                label="Username"
                placeholder="Username of the new IR"
                form="irForms.create"
                validations="irForms.validations"
                results="irForms.getResults()"
                autocomplete="off"
                no-id="true">
              </validatedinput>

              <validatedinput
                id="createPassword"
                model="irToCreate"
                property="password"
                label="Password"
                placeholder="Password of the new IR"
                form="irForms.create"
                validations="irForms.validations"
                results="irForms.getResults()"
                autocomplete="off"
                type="password"
                no-id="true">
              </validatedinput>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="2" heading="Schemas">

        <div class="row">

          <div class="col-xs-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">This Repository</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="s in irToCreate.schemas track by $index" ng-click="irToCreate.schemas.splice($index,1)">
                  {{s.name}}
                  <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-xs-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">All Schemas</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="s in schemas | containedIn:irToCreate.schemas:'namespace'" ng-click="irToCreate.schemas.push(s)">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  {{s.name}}
                </li>
              </ul>
            </div>

          </div>
        </div>

      </uib-tab>

      <uib-tab index="3" heading="Verify">
        <irverification ir="irToCreate" results="verificationResults"></irverification>
      </uib-tab>

    </uib-tabset>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-class="{'btn-default': irForms.create.$pristine, 'btn-warning': !irForms.create.$pristine}" ng-click="cancelCreateIr()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!disableVerify(irToCreate) && (irForms.create.$invalid || verificationResults.status !== 'SUCCESS') || submitClicked">Create</button>
  </div>
</form>
