<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="resetCreateContainer()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Run Fixity</h4>
</div>
<div class="modal-body">

<div class="row" ng-init="fixityResults={}">
    <div class="col-md-3">
        <button class="btn btn-primary btn-lg pull-right" ng-click="fixityCheck()">Check Fixity</button>
    </div>

    <div class="col-md-9" ng-if="context.fixity">
        <dl class="dl-horizontal">
            <dt>
                Status:
            </dt>
            <dd>
                {{context.fixity.status | removeQuotes }}
            </dd>
            <dt>
                Message Digest:
            </dt>
            <dd>
                {{context.fixity.messageDigest}} 
                <button class="btn btn-default btn-sm" ngclipboard data-clipboard-text="{{context.fixity.messageDigest}}" ngclipboard-success="copiedSuccess('fixity')" uib-tooltip="Copied!" tooltip-trigger="'none'" tooltip-is-open="fixityCopied===true">
                    <span class="glyphicon glyphicon-copy"></span>
                </button>
            </dd>
            <dt>
                Size:
            </dt>
            <dd>
                {{context.fixity.size.split("^^")[0] | removeQuotes }}
            </dd>
        </dl>
    </div>
    
</div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="resetCreateContainer()">Cancel</button>
</div>