<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="resetCreateContainer()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Run Fixity</h4>
</div>
<div class="modal-body">

<div class="row" ng-init="fixityResults={}">
    <div class="col-md-2 col-xs-offset-1">
        <button class="btn btn-primary btn-lg " ng-click="contextToFixityCheck.fixityCheck()">Check Fixity</button>
    </div>

    <div class="col-md-9" ng-if="contextToFixityCheck.fixity">
        <dl class="dl-horizontal">
            <dt>
                Status:
            </dt>
            <dd>
                {{contextToFixityCheck.fixity.status | removeQuotes }}
            </dd>
            <dt>
                Message Digest:
            </dt>
            <dd>
                {{contextToFixityCheck.fixity.messageDigest}} 
                <button class="btn btn-default btn-sm" ng-click="copyToClipboard(context.fixity.messageDigest, 'fixity')" uib-tooltip="Copied!" tooltip-trigger="'none'" tooltip-is-open="fixityCopied === true">
                    <span class="glyphicon glyphicon-copy" style="margin-left: 0px;"></span>
                </button>
            </dd>
            <dt>
                Size:
            </dt>
            <dd>
                {{contextToFixityCheck.fixity.size.split("^^")[0] | removeQuotes }}
            </dd>
        </dl>
    </div>
    
</div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
</div>