<form name="irForms.edit" ng-submit="updateIr()" novalidate>
    <div class="modal-header {{attr.modalHeaderClass}}">
        <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelEditIr()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit IR</h4>
    </div>
    <div class="modal-body">

        <validationmessage results="irForms.getResults()"></validationmessage>

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="General">
                <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <validatedselect
                    model="irToEdit"
                    property="type"
                    options="iRTypes"
                    optionproperty="gloss"
                    optionvalue="value"
                    label="Type"
                    placeholder="Type of the new IR"
                    form="irForms.edit"
                    validations="irForms.validations"
                    results="irForms.getResults()">
                  </validatedselect>
                  <validatedinput
                    model="irToEdit"
                    property="name"
                    label="Name"
                    placeholder="Name of the IR"
                    form="irForms.edit"
                    validations="irForms.validations"
                    results="irForms.getResults()"
                    autocomplete="off">
                  </validatedinput>
                  <validatedinput
                    model="irToEdit"
                    property="rootUri"
                    label="Root URI"
                    placeholder="Root URI of the IR"
                    form="irForms.edit"
                    validations="irForms.validations"
                    results="irForms.getResults()"
                    autocomplete="off">
                  </validatedinput>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Authentication">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <validatedinput
                        model="irToEdit"
                        property="username"
                        label="Username"
                        placeholder="Username of the IR"
                        form="irForms.create"
                        validations="irForms.validations"
                        results="irForms.getResults()"
                        autocomplete="off">
                    </validatedinput>

                    <validatedinput
                        model="irToEdit"
                        property="password"
                        label="Password"
                        placeholder="Password of the IR"
                        form="irForms.create"
                        validations="irForms.validations"
                        results="irForms.getResults()"
                        autocomplete="off">
                    </validatedinput>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Schemas">

            <div class="row">

                <div class="col-xs-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h3 class="panel-title">This Repository</h3>
                    </div>
                    <ul class="list-group">
                    <li class="list-group-item clickable" ng-repeat="s in irToEdit.schemas track by $index" ng-click="irForms.edit.$setDirty();irToEdit.schemas.splice($index,1);">
                        {{s.name}}
                        <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                    </li>
                    </ul>
                </div>

                </div>

                <div class="col-xs-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h3 class="panel-title">All Schemas</h3>
                    </div>
                    <ul class="list-group">
                    <li class="list-group-item clickable" ng-repeat="s in schemas | containedIn:irToEdit.schemas:'namespace'" ng-click="irForms.edit.$setDirty();irToEdit.schemas.push(s);">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        {{s.name}}
                    </li>
                    </ul>
                </div>

                </div>
            </div>

        </uib-tab>
        <uib-tab index="3" heading="Verification">
            <irverification ir="irToEdit" results="verificationResults"></irverification>
        </uib-tab>
    </div>
    <div class="modal-footer">
        <small class="text-warning pull-left" ng-if="!disableVerify(irToEdit) && irForms.edit.$dirty&&verificationResults.status!=='SUCCESS'">IR settings must be verified before edits can be saved</small>
        <button type="button" class="btn btn-default" ng-class="{'btn-default': irForms.edit.$pristine, 'btn-warning': !irForms.edit.$pristine}" ng-click="cancelEditIr()">Cancel</button>
        <button type="submit" class="btn btn-success" ng-disabled="!irForms.edit.$dirty || irForms.edit.$invalid || submitClicked || (!disableVerify(irToEdit) && irForms.edit.$dirty && verificationResults.status !== 'SUCCESS')">Edit</button>
    </div>
</form>
