<form name="repositoryViewForms.edit" ng-submit="onEditRepositoryView()" novalidate>
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="onCancelEditRepositoryView()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit Repository View</h4>
  </div>
  <div class="modal-body" ng-if="repositoryView">
    <validationmessage results="repositoryViewForms.getResults()"></validationmessage>

    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="General">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <validatedselect model="repositoryView" property="type" options="repositoryViewTypes" optionproperty="gloss" optionvalue="value" label="Type" placeholder="Type of the new Repository View" form="repositoryViewForms.edit" validations="repositoryViewForms.validations" results="repositoryViewForms.getResults()" no-id="true"></validatedselect>
            <validatedinput model="repositoryView" property="name" label="Name" placeholder="Name of the Repository View" form="repositoryViewForms.edit" validations="repositoryViewForms.validations" results="repositoryViewForms.getResults()" autocomplete="off" no-id="true"></validatedinput>
            <validatedinput model="repositoryView" property="rootUri" label="Root URI" placeholder="Root URI of the Repository View" form="repositoryViewForms.edit" validations="repositoryViewForms.validations" results="repositoryViewForms.getResults()" autocomplete="off" no-id="true"></validatedinput>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="Authentication">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <validatedinput model="repositoryView" property="username" label="Username" placeholder="Username of the Repository View" form="repositoryViewForms.create" validations="repositoryViewForms.validations" results="repositoryViewForms.getResults()" autocomplete="off" no-id="true"></validatedinput>
            <validatedinput model="repositoryView" property="password" label="Password" placeholder="Password of the Repository View" form="repositoryViewForms.create" validations="repositoryViewForms.validations" results="repositoryViewForms.getResults()" autocomplete="off" type="password" no-id="true"></validatedinput>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="2" heading="Schemas">

        <div class="row">

          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">This Repository</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="s in repositoryView.schemas track by $index" ng-click="repositoryViewForms.edit.$setDirty();repositoryView.schemas.splice($index,1);">
                  <span>{{s.name}}</span>
                  <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">All Schemas</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="s in schemas | containedIn:repositoryView.schemas:'namespace'" ng-click="repositoryViewForms.edit.$setDirty();repositoryView.schemas.push(s);">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  <span>{{s.name}}</span>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </uib-tab>

      <uib-tab index="3" heading="Curators">

        <div class="row">

          <div class="col-xs-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">This Repository</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="curator in repositoryView.curators track by $index" ng-click="repositoryViewForms.edit.$setDirty();repositoryView.curators.splice($index,1)">
                  {{curator.firstName}} {{curator.lastName}}
                  <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-xs-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">All Curators</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item clickable" ng-repeat="curator in curators | containedIn:repositoryView.curators:'username'" ng-click="repositoryViewForms.edit.$setDirty();repositoryView.curators.push(curator)">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  {{curator.firstName}} {{curator.lastName}}
                </li>
              </ul>
            </div>

          </div>
        </div>

      </uib-tab>

      <uib-tab index="4" heading="Verification">
        <repository-view-verification repository-view="repositoryView" results="verificationResults"></repository-view-verification>
      </uib-tab>
  </div>
  <div class="modal-footer">
    <small class="text-warning pull-left" ng-if="!disableVerify(repositoryView) && repositoryViewForms.edit.$dirty&&verificationResults.status!=='SUCCESS'">Repository View settings must be verified before edits can be saved.</small>
    <button type="button" class="btn btn-default" ng-class="{'btn-default': repositoryViewForms.edit.$pristine, 'btn-warning': !repositoryViewForms.edit.$pristine}" ng-click="onCancelEditRepositoryView()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!repositoryViewForms.edit.$dirty || repositoryViewForms.edit.$invalid || submitting || (!disableVerify(repositoryView) && repositoryViewForms.edit.$dirty && verificationResults.status !== 'SUCCESS')">Update</button>
  </div>
</form>