<form name="schemaForms.edit" ng-submit="updateSchema()" novalidate class="schema-forms-edit">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelEditSchema()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit Schema</h4>
  </div>
  <div class="modal-body" ng-if="schemaToEdit">

    <validationmessage results="schemaForms.getResults()"></validationmessage>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">

        <validatedinput
          model="schemaToEdit"
          property="name"
          label="Name"
          placeholder="Name of the new schema"
          form="schemaForms.edit"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedinput
          model="schemaToEdit"
          property="abbreviation"
          label="Abbreviation"
          placeholder="Abbreviation for the new schema name"
          form="schemaForms.edit"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedinput
          model="schemaToEdit"
          property="namespace"
          label="Namespace"
          placeholder="URI of the schema namespace"
          form="schemaForms.edit"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>

      </div>
      <div class="col-sm-5">
        <findproperties ng-if="resetSchemaPropertyList" schema="schemaToEdit" mode="'edit'"></findproperties>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-class="{'btn-default': schemaForms.edit.$pristine, 'btn-warning': !schemaForms.edit.$pristine}" ng-click="cancelEditSchema()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="schemaForms.edit.$invalid || !schemaToEdit.properties.length || submitClicked">Update</button>
  </div>
</form>
