<form name="schemaForms.create" ng-submit="onCreateSchema()" novalidate class="schema-forms-create">
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="onCancelCreateSchema()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Schema</h4>
  </div>
  <div class="modal-body">
    <alerts seconds="60" channels="schema/properties" types="WARNING,ERROR" exclusive></alerts>

    <validationmessage results="schemaForms.getResults()"></validationmessage>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">

        <validatedinput
          model="schema"
          property="name"
          label="Name"
          placeholder="e.g. Dublin Core"
          form="schemaForms.create"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedinput
          model="schema"
          property="abbreviation"
          label="Abbreviation"
          placeholder="e.g. DC"
          form="schemaForms.create"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off">
        </validatedinput>

        <validatedinput
          model="schema"
          property="namespace"
          label="Namespace"
          placeholder="e.g. http://purl.org/dc/terms/"
          form="schemaForms.create"
          validations="schemaForms.validations"
          results="schemaForms.getResults()"
          autocomplete="off"
          disabled="propertiesStatus.loading">
        </validatedinput>

      </div>
      <div class="col-sm-5">
        <findproperties ng-if="resetSchemaPropertyList" schema="schema" status='propertiesStatus'></findproperties>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-class="{'btn-default': schemaForms.create.$pristine, 'btn-warning': !schemaForms.create.$pristine}" ng-click="onCancelCreateSchema()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="schemaForms.create.$invalid || !schema.properties.length || submitting || propertiesStatus.loading || !propertiesStatus.loaded">Create</button>
  </div>
</form>
