<form name="irForm.uploadResource" ng-submit="uploadResource(irForm.uploadResource.file)" novalidate>
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="resetUploadResource()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Upload Resource</h4>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col-md-2 col-md-offset-1">

        <div class="form-group">
          <div class="btn btn-default" ngf-select ng-model="irForm.uploadResource.file" name="file" ngf-max-size="100MB">Select</div>
        </div>

      </div>

      <div class="col-md-9">

        <div class="well media" ng-if="irForm.uploadResource.file.name">
          <div class="media-left media-middle" ng-init="fileSrc = srcFromFile(irForm.uploadResource.file)" ng-if="canPreview(irForm.uploadResource.file.type)">
            <img class="media-object resource-upload-preview" src="{{fileSrc}}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <label>Name:</label>
              <span> {{irForm.uploadResource.file.name}}</span>
            </h4>
            <ul class="list-unstyled">
              <li>
                <label>Type:</label>
                <span>{{irForm.uploadResource.file.type}}</span>
              </li>
              <li>
                <label>Size:</label>
                <span>{{irForm.uploadResource.file.size}}</span>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="resetUploadResource()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!irForm.uploadResource.file || submitClicked">Upload</button>
  </div>
</form>
