<form name="irForm.uploadResource" ng-submit="uploadResource(irForm.uploadResource)" novalidate>
  <div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="resetUploadResource()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Upload Resource</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <div
        class="btn btn-default"
        ngf-select
        ng-model="irForm.uploadResource.file"
        name="file"
        ngf-pattern="'image/*'"
        ngf-accept="'image/*'"
        ngf-max-size="20MB"
        ngf-min-height="100"
        ngf-resize="{width: 100, height: 100}">
        Select
      </div>
    </div>

    <!-- <img ng-if="irForm.uploadResource.file.name" src="{{window.URL.createObjectURL(this.irForm.uploadResource.file)}}"> -->

    <dl class="dl-horizontal" ng-if="irForm.uploadResource.file.name">
      <dt>Name:</dt>
      <dd>{{irForm.uploadResource.file.name}}</dd>
      <dt>Type:</dt>
      <dd>{{irForm.uploadResource.file.type}}</dd>
      <dt>Size:</dt>
      <dd>{{irForm.uploadResource.file.size}}</dd>
    </dl>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="resetUploadResource()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!irForm.uploadResource.file">Upload</button>
  </div>
</form>
