<div>
    <h1>Institutional Repositories</h1>
    <hr>

    <div class="col-xs-12">

      <div class="panel panel-default documents-container">
        <modal  modal-id="createIRModal"
                modal-view="views/modals/createIRModal.html"
                modal-btn-classes="btn btn-success"
                modal-header-class="modal-header-primary"
                wvr-modal-backdrop="static">
                New
        </modal>
        <table ng-table="tableParams" show-filter="true" class="table table-hover">
          <tbody>
            <tr ng-repeat="ir in $data">
              <td data-title="'Name'">
                {{ir.name}}
              </td>
              <td data-title="'URI'">
                  {{ir.uri}}
              </td>
              <td data-title="'Actions'">
                  <a href="ir/{{ir.name}}">view</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
    </div>
    

</div>



