<div class="page-header">
  <h1>{{ir.name}} <small>({{ir.rootUri}})</small></h1>
</div>

<breadcrumbs nav="loadContainer(containerUri)" ir="ir"></breadcrumbs>

<irsection
  ir="ir"
  title="'Properties'"
  type="'property'"
  list="context.properties"
  list-element-action="loadContainer(le)"
  add-action="ir.createProperty()"
  remove-action="ir.removeProperties(items)">
</irsection>

<irsection
  ir="ir"
  title="'Children'"
  type="'child'"
  list="context.children"
  list-element-action="loadContainer(le)"
  add-action="openModal('#createContainer')"
  remove-action="ir.removeContainers(items)">
</irsection>

<modal modal-id="createContainer" 
       modal-view="views/modals/irCreateContainer.html" 
       modal-header-class="modal-header-primary"
       wvr-modal-backdrop="static">
</modal>


<irsection
  ir="ir"
  title="'Resources'"
  type="'resource'"
  list="context.resources"
  list-element-action="loadContainer(le)"
  add-action="ir.createResource()"
  remove-action="ir.removeResources(items)">
</irsection>