<div class="page-header">
  <h1>{{ir.name}} <small>({{ir.rootUri}})</small></h1>
</div>

<breadcrumbs nav="loadContainer(containerUri)" ir="ir"></breadcrumbs>

<irsection
  ir="ir"
  title="'Properties'"
  type="'property'"
  list="ir.getProperties()"
  list-element-action="loadContainer(le)"
  add-action="ir.createProperty()"
  remove-action="ir.removeProperties(items)">
</irsection>

<irsection
  ir="ir"
  title="'Children'"
  type="'child'"
  list="ir.getContainers()"
  list-element-action="loadContainer(le)"
  add-action="ir.createContainer()"
  remove-action="ir.removeContainers(items)">
</irsection>

<irsection
  ir="ir"
  title="'Resources'"
  type="'resource'"
  list="ir.getResources()"
  list-element-action="loadContainer(le)"
  add-action="ir.createResource()"
  remove-action="ir.removeResources(items)">
</irsection>