<div class="repository-view-context">
  <div class="page-header clearfix">
    <div class="btn-group pull-right context-actions-btn" uib-dropdown keyboard-nav>
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        Context Actions <span class="caret"></span>
      </button>
      <modal
        modal-id="fixityModalDD"
        modal-view="views/modals/fixityModal.html"
        modal-header-class="modal-header-primary"
        modal-fullscreen="true"
        wvr-modal-backdrop="static">
      </modal>
      <ul ng-if="!context.isVersion" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li class="dropdown-header">Container Actions</li>
        <li role="menuitem" ng-class="{'disabled': context.repositoryView.getTransaction().active}" ng-if="context.features.transacting" ng-click="context.repositoryView.getTransaction().active||startTransaction()"><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Start Transaction</a></li>
        <li role="menuitem" ng-class="{'disabled': context.repositoryView.getTransaction().active}" ng-if="context.features.versioning" ng-click="context.repositoryView.getTransaction().active||openModal('#versionsModal')"><a href="#"><span class="glyphicon glyphicon-scissors"></span> Versions</a></li>
        <li role="menuitem" class="disabled"><a href="#"><span class="glyphicon glyphicon-move"></span> Move</a></li>
        <li role="menuitem" class="disabled"><a href="#"><span class="glyphicon glyphicon-random"></span> Migrate</a></li>
        <li role="menuitem" class="disabled"><a href="#"><span class="glyphicon glyphicon-export"></span> Export</a></li>
        <li role="menuitem bg-danger" ng-click="openModal('#repositoryViewContextDeleteModal')"><a href="#" class="bg-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
        <li ng-if="!context.resource && getIIIFUrl()" role="menuitem"><a href="" ng-click="copyToClipboard(getIIIFUrl(), 'IIIFUrl')">Copy IIIF Manifest URL</a></li>

        <li class="divider"></li>
        <li class="dropdown-header">Resource Actions</li>

        <li role="menuitem" ng-if="context.features.fixity" ng-class="{'disabled': !context.resource}"><a href="" ng-click="openFixity(context.triple.subject)"><span class="glyphicon glyphicon glyphicon-edit"></span> Fixity</a></li>

        <li role="menuitem" ng-class="{'disabled': !context.resource}"><a href="{{context.resourse}}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download</a></li>

        <!-- These ngIf calls should be executed once we enable user management -->
        <li ng-if="isAdmin" class="divider"></li>
        <li ng-if="isAdmin" class="dropdown-header">Admin Actions</li>
        <li ng-if="isAdmin && context.features.queryable" role="menuitem"><a href="" ng-click="openModal('#advancedUpdate')"><span class="glyphicon glyphicon glyphicon-edit"></span> Advanced Update</a></li>
        <li ng-if="isAdmin" role="menuitem"><a href="admin/repository-view"><span class="glyphicon glyphicon-cog"></span> Admin Settings</a></li>

      </ul>
      <ul ng-if="context.isVersion && context.features.versioning" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li class="dropdown-header">Version Actions</li>
        <li role="menuitem" ng-click="openModal('#contextVersionRevertModal')"><a href="#"><span class="glyphicon glyphicon-repeat"></span> Restore</a></li>
        <li role="menuitem bg-danger" ng-click="openModal('#contextVersionDeleteModal')"><a href="#" class="bg-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>

        <!-- These ngIf calls should be executed once we enable user management -->
        <li ng-if="isAdmin" class="divider"></li>
        <li ng-if="isAdmin" class="dropdown-header">Admin Actions</li>
        <li ng-if="isAdmin && context.features.queryable" role="menuitem"><a href="" ng-click="openModal('#advancedUpdate')"><span class="glyphicon glyphicon glyphicon-edit"></span> Advanced Update</a></li>
        <li ng-if="isAdmin" role="menuitem"><a href="admin/repository-view"><span class="glyphicon glyphicon-cog"></span> Admin Settings</a></li>

      </ul>
    </div>
    <h1>{{repositoryView.name}} <small class="clickable" ng-click="repositoryView.loadContext(repositoryView.rootUri)">(<span class="glyphicon glyphicon-home"></span> {{repositoryView.rootUri}})</small></h1>
  </div>

  <breadcrumbs ng-if="context.hasParent !== undefined" context="context"></breadcrumbs>

  <div ng-if="context.isVersion && context.features.versioning" class="alert alert-warning clearfix" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>This is a historical version and is not editable.</span>
    <div class="pull-right">
        <button class="btn btn-warning" ng-click="openModal('#contextVersionRevertModal')">Restore</button>
        <button class="btn btn-danger" ng-click="openModal('#contextVersionDeleteModal')">Delete</button>
    </div>
  </div>

  <div ng-if="context.repositoryView.getTransaction().active" class="alert alert-info clearfix" role="alert">
    <span>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> This VR is currently in transaction.
      <button ng-if="context.repositoryView.getTransaction().secondsRemaining<31" class="btn btn-sm btn-info" ng-click="context.repositoryView.refreshTransaction()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 0:{{context.repositoryView.getTransaction().secondsRemaining}}
      </button>
    </span>
    <div class="pull-right">
        <button class="btn btn-sm btn-warning" ng-click="openModal('#rollbackTransactionModal')">Rollback</button>
        <button class="btn btn-sm btn-success" ng-click="openModal('#commitTransactionModal')">Commit</button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="properties-section">
      <div class="row">
        <div class="preview" ng-class="{'col-md-6 col-md-push-6': !theaterMode, 'col-md-12': theaterMode}" ng-if="context.resource">
          <div class="thumbnail" ng-mouseover="showImageControls=true" ng-mouseleave="showImageControls=false" >
            <contentviewer content-type="getContentType()" resource="context.uri" ng-if="context.resource"></contentviewer>
            <div class="image-controls" ng-show="showImageControls">
              <div class="image-control">
                  <span class="glyphicon glyphicon-resize-horizontal" ng-click="setOrToggleTheaterMode()"></span>
              </div>
            </div>

            <div class="caption clearfix">
              <h3 class="text-center">{{context.name}}</h3>
              <hr/>
              <div class="pull-left">
                <div class="btn-group pull-left dropup" uib-dropdown keyboard-nav uib-tooltip="Copied!" tooltip-trigger="'none'" tooltip-is-open="contextUriCopied===true">
                  <button type="button" class="btn btn-default" uib-dropdown-toggle>
                      <span class="glyphicon glyphicon-menu-hamburger"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                    <li class="dropdown-header">Resource Actions</li>
                    <li role="menuitem" class="disabled"><a href="#">Add to IIIF Manifest</a></li>
                    <li role="menuitem" class="disabled"><a href="#">Send to Magpie</a></li>
                    <li role="menuitem" class="disabled"><a href="#">Create thumbnail</a></li>
                    <li role="menuitem" class="disabled"><a href="#">View in Mirador</a></li>
                    <li role="menuitem"><a href="" ng-click="copyToClipboard(context.uri, 'contextUri')">Copy Resource URL</a></li>
                    <li ng-if="getIIIFUrl()" role="menuitem"><a href="" ng-click="copyToClipboard(getIIIFUrl(), 'contextUri')">Copy IIIF Manifest URL</a></li>
                  </ul>
                </div>
              </div>
              <div class="pull-right">
                <a href="{{context.uri}}" download class="btn btn-primary" role="button"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
                <a ng-if="context.features.fixity" href="" ng-click="openFixity(context.triple.subject)" class="btn btn-default" role="button"><span class="glyphicon glyphicon-ok"></span> Fixity</a>
              </div>
            </div>
          </div>
        </div>

        <div class="properties" ng-class="{'col-md-6 col-md-pull-6': context.resource&&!theaterMode, 'col-md-12': !context.resource||theaterMode}">
          <h4>
            <span>Properties</span>
            <span class="glyphicon glyphicon-minus clickable" ng-click="propertiesCollapsed=true;setOrToggleTheaterMode(true)" ng-show="context.resource&&!theaterMode"></span>
            <span class="glyphicon glyphicon-plus clickable" ng-click="propertiesCollapsed=false" ng-show="(!context.resource||theaterMode)&&propertiesCollapsed"></span>
            <span class="glyphicon glyphicon-minus clickable" ng-click="propertiesCollapsed=true" ng-show="(!context.resource||theaterMode)&&!propertiesCollapsed"></span>
          </h4>
          <div class="context-property" ng-show="!propertiesCollapsed||(context.resource&&!theaterMode)" ng-if="context.properties" ng-init="map = mapTriplesByPredicate(context.properties)">
            <dl class="dl-horizontal" ng-repeat="(predicate, property) in map">
              <dt class="property-term">
                <a href="{{predicate}}">{{predicate | metadataLabel}}</a>
              </dt>
              <span title="expand {{predicate | metadataLabel}}" class="glyphicon glyphicon-plus clickable property-collapsable" ng-if="property.length > 1" ng-click="triplePropertiesCollapsed[predicate]=false" ng-show="triplePropertiesCollapsed[predicate]"></span>
              <span title="collapse {{predicate | metadataLabel}}" class="glyphicon glyphicon-minus clickable property-collapsable" ng-if="property.length > 1" ng-click="triplePropertiesCollapsed[predicate]=true" ng-show="!triplePropertiesCollapsed[predicate]"></span>
              <dd ng-repeat="triple in property">
                <span ng-show="!triplePropertiesCollapsed[predicate]" >{{triple.object | propertyValue}}</span>
              </dd>
            </dl>
          </div>
        </div>

      </div>

    </div>

    <div class="row metadata-section" ng-if="context.metadata" ng-init="map = mapTriplesByPredicate(context.metadata)">
      <repository-view-section
        context="context"
        title="'Metadata'"
        type="'metadatum'"
        list="map"
        list-element-action="repositoryView.loadContext(le)"
        add-action="openModal('#addMetadata')"
        edit-action="updateMetadatum(triple,newObject)"
        remove-action="context.removeMetadata(items)">
        <br ng-show="contentExpanded">
        <dl class="dl-horizontal context-metadata" ng-show="contentExpanded" ng-repeat="(predicate, metadata) in list">
          <dt class="metadata-term">
            <input ng-show="removeListElements&&filteredList.length>1" type="checkbox" ng-checked="checkAll" ng-click="checkAll=!checkAll;checkAll?selectAll(filteredList):selectedListElements.length=0">
            <a href="{{predicate}}">{{predicate | metadataLabel}}</a>
          </dt>
          <span title="collapse {{predicate | metadataLabel}}" class="glyphicon glyphicon-minus clickable metadata-collapsable" ng-if="metadata.length > 1" ng-click="context.tripleMetadataCollapsed[predicate]=true" ng-show="!context.tripleMetadataCollapsed[predicate]"></span>
          <span title="expand {{predicate | metadataLabel}}"  class="glyphicon glyphicon-plus clickable metadata-collapsable" ng-if="metadata.length > 1" ng-click="context.tripleMetadataCollapsed[predicate]=false" ng-show="context.tripleMetadataCollapsed[predicate]"></span>
          <dd ng-mouseenter="showEditBtn=true" ng-mouseleave="showEditBtn=false" ng-repeat="triple in metadata">
            <input ng-show="removeListElements" type="checkbox" ng-checked="selectedListElements.indexOf(triple)!==-1" ng-click="selectedListElements.indexOf(triple)===-1?selectedListElements.push(triple):selectedListElements.splice(selectedListElements.indexOf(triple),1)">
            <span ng-show="!editValue&&selectedListElements.indexOf(triple)===-1">
              <span ng-show="!context.tripleMetadataCollapsed[predicate]">{{triple.object | removeQuotes}}</span>
              <span class="glyphicon glyphicon-pencil clickable" ng-click="editValue=triple.object" ng-show="showEditBtn && !context.isVersion && !context.tripleMetadataCollapsed[predicate]" ></span>
            </span>
            <div ng-show="editValue && !context.tripleMetadataCollapsed[predicate]" class="row">
              <div class="col-md-6">
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="editValue" remove-quotes>
                    <div class="input-group-btn">
                      <button ng-show="!editWorking" class="btn btn-default" ng-click="editItem({triple, newObject:editValue});editValue=null;" ng-disabled="triple.object===editValue">
                        <span class="glyphicon glyphicon-ok"></span>
                      </button>
                      <button ng-show="!editWorking" class="btn btn-default" ng-click="editValue=null">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                      <button ng-show="editWorking" class="btn btn-default" ng-click="editValue=null">
                        <span class="glyphicon glyphicon-refresh spinning"></span>
                      </button>
                    </div>
                  </div>
                </div>
            </div>
            <del ng-if="removeListElements && selectedListElements.indexOf(triple)!==-1">{{triple.object | removeQuotes}}</del>
          </dd>
        </dl>
      </repository-viewsection>
    </div>

    <div class="row" ng-if="!context.resource">
      <repository-view-section
        context="context"
        title="'Children'"
        type="'child'"
        list="context.children"
        list-element-action="repositoryView.loadContext(le)"
        add-action="openModal('#createContainer')"
        remove-action="context.removeContainers(items)">
        <ol class="list-group" ng-show="contentExpanded">
          <li  class="list-group-item" ng-repeat="le in filteredList = (list | filterContainers:context | orderBy: 'name')" ng-class="{'list-group-item-danger': selectedListElements.indexOf(le.triple)!==-1}">
            <a href="" ng-click="listElementAction({'le':le.triple.subject})">{{(le.name || le.triple.object) | removeQuotes}}</a>
            <input ng-show="removeListElements" type="checkbox" class="pull-right" ng-checked="selectedListElements.indexOf(le.triple)!==-1" ng-click="selectedListElements.indexOf(le.triple)===-1?selectedListElements.push(le.triple):selectedListElements.splice(selectedListElements.indexOf(le.triple),1)">
          </li>
        </ol>
      </repository-viewsection>
    </div>

    <div class="row resource-section" ng-if="!context.resource">
      <repository-view-section
        context="context"
        title="'Resources'"
        type="'resource'"
        list="context.children"
        list-element-action="repositoryView.loadContext(le)"
        add-action="openModal('#uploadResource')"
        remove-action="context.removeResources(items)">
        <ol class="list-group" ng-show="contentExpanded">
          <li  class="list-group-item" ng-repeat="le in filteredList = (list | filterResources:context | orderBy: 'name') track by $index" ng-class="{'list-group-item-danger': selectedListElements.indexOf(le.triple)!==-1}">
            <a href="" ng-click="listElementAction({'le':le.triple.subject})">{{(le.name || le.triple.object) | removeQuotes}}</a>
            <!--<a href="" ng-show="!removeListElements" ng-click="resourceToUpdate=le;openModal('#updateResourceModalModal'+$index)"><span title="swap" class="glyphicon glyphicon-transfer pull-right clickable"></span></a>-->
            <a href="" ng-show="!removeListElements" ng-click="contextScope.openFixity(le.triple.subject)"><span title="fixity" class="glyphicon glyphicon-check pull-right clickable"></span></a>
            <a href="{{le.triple.subject}}" download><span ng-show="!removeListElements" title="download" class="glyphicon glyphicon-download-alt pull-right"></span></a>
            <input ng-show="removeListElements" type="checkbox" class="pull-right" ng-checked="selectedListElements.indexOf(le.triple)!==-1" ng-click="selectedListElements.indexOf(le.triple)===-1?selectedListElements.push(le.triple):selectedListElements.splice(selectedListElements.indexOf(le.triple),1)">
          </li>
        </ol>
      </repository-viewsection>
    </div>
  </div>

  <modal
    modal-id="createContainer"
    modal-view="views/modals/createContainerModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="uploadResource"
    modal-view="views/modals/uploadResource.html"
    modal-header-class="modal-header-primary"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="addMetadata"
    modal-view="views/modals/addMetadataModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    ng-if="isAdmin && context.features.queryable"
    modal-id="advancedUpdate"
    modal-view="views/modals/advancedUpdateModal.html"
    modal-header-class="modal-header-primary"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="repositoryViewContextDeleteModal"
    modal-view="views/modals/repositoryViewContextDeleteModal.html"
    modal-header-class="modal-header-danger"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    ng-if="context.features.versioning"
    modal-id="versionsModal"
    modal-view="views/modals/versionsModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="contextVersionDeleteModal"
    modal-view="views/modals/contextVersionDeleteModal.html"
    modal-header-class="modal-header-danger"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="contextVersionRevertModal"
    modal-view="views/modals/contextVersionRevertModal.html"
    modal-header-class="modal-header-warning"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="commitTransactionModal"
    modal-view="views/modals/commitTransactionModal.html"
    modal-header-class="modal-header-primary"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="rollbackTransactionModal"
    modal-view="views/modals/rollbackTransactionModal.html"
    modal-header-class="modal-header-warning"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="fixityModalButton"
    modal-view="views/modals/fixityModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

</div>
