.row {
  margin: 5px 0px 12px 0px;
}

.properties {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  .context-property {
    .property-term {
      display: inline;
      padding-right: 5px;
    }

    .property-collapsable {
      line-height: 1.42857;
    }

    @media (min-width: 768px) {
      .property-collapsable  {
        float: left;
      }
    }
  }
}

.preview {
  .thumbnail .viewer-wrapper > img {
    width: 100%;
  }
}
