<ol class="breadcrumb">
  <li ng-repeat="breadcrumb in breadcrumbs track by $index">
    <a href="" ng-click="breadcrumb.repositoryView.loadContext(shortenBreadcrumbUri(breadcrumb))">{{trimName(breadcrumb, $index)}}</a>
  </li>
  <br ng-if="breadcrumbs.length" />
  <li class="active">
    <h3><span ng-if="breadcrumbs.length" class="glyphicon glyphicon-share-alt"></span> {{trimName(context, breadcrumbs.length)}}</h3>
  </li>
  <br/>
  <li class="breadcrumb-uri">
    <a href="{{context.repositoryView.rootUri + context.uri}}">{{context.repositoryView.rootUri + context.uri}}</a>
    <span ng-click="copyToClipboard({text:context.repositoryView.rootUri + context.uri, target:'URI'})" class="glyphicon glyphicon-copy clickable"></span>
  </li>
</ol>
