<div class="row">
  <div class="col-sm-3 col-sm-offset-1 text-center">
    <button type="button" class="btn btn-success" ng-click="testIrConnection()" ng-disabled="!ir.rootUri">Test Connection</button>
  </div>
  <div class="col-sm-5">
    <ul ng-if="ir || testFinished" class="list-unstyled">
      <li ng-repeat="irTest in irTests track by $index">
        <span ng-if="irTests[$index].status === 'PENDING'" class="glyphicon glyphicon-repeat spinning"></span>
        <span ng-if="irTests[$index].status === 'SUCCESS'" class="glyphicon glyphicon-check text-success"></span>
        <span ng-if="irTests[$index].status === 'ERROR'" class="glyphicon glyphicon-ban-circle text-danger"></span>
        {{irTest.name}}
      </li>
      <li ng-if="results.status">
        <h3 ng-if="results.status==='SUCCESS'" class="text-success">Success!</h3>
        <h3 ng-if="results.status==='ERROR'" class="text-danger">Failed!</h3>
      </li>
    </ul>
  </div>
  <div class="col-sm-3" ng-if="results.status==='ERROR'">
    <alerts view="views/alerts/irTestsAlert.html" channels="ir/test/ping,ir/test/auth,ir/test/content," exclusive></alerts>
  </div>
</div>