<div class="row">
    
    <div class="col-sm-3 col-sm-offset-1 text-center">                  
        <button type="button" class="btn btn-success btn-lg" ng-click="verifyIrConnection()" ng-disabled="!ir.rootUri">Verify Connection</button>
    </div>
    <div class="col-sm-5">                  
        <ul ng-if="ir || verificationFinished" class="list-unstyled">
            <li ng-repeat="irVerification in irVerifications track by $index">
                <span ng-if="irVerifications[$index].status === 'PENDING'" class="glyphicon glyphicon-repeat spinning"></span> 
                <span ng-if="irVerifications[$index].status === 'SUCCESS'" class="glyphicon glyphicon-check text-success"></span>
                <span ng-if="irVerifications[$index].status === 'ERROR'" class="glyphicon glyphicon-ban-circle text-danger"></span>
                {{irVerification.name}}
            </li>
            <li ng-if="results.status">
                <h3 ng-if="results.status==='SUCCESS'" class="text-success">Success!</h3>
                <h3 ng-if="results.status==='ERROR'" class="text-danger">Failed!</h3>
            </li>
        </ul>
    </div>
    <div class="col-sm-3" ng-if="results.status==='ERROR'">                  
        <alerts view="views/alerts/irVerificationAlert.html" channels="ir/verification/ping,ir/verification/auth,ir/verification/content," exclusive></alerts>
    </div>
</div>