<div class="row">
  <div class="col-sm-3 col-sm-offset-1 text-center">
    <button type="button" class="btn btn-success btn-lg" ng-click="verifyRepositroyViewConnection()" ng-disabled="disableVerify()">Verify Connection</button>
  </div>
  <div class="col-sm-5">
    <div class="alert alert-info" ng-show="disableVerify()">{{repositoryView.type}} Repository Views do not support verification.</div>
    <ul ng-if="(repositoryView && !disableVerify()) || verificationFinished" class="list-unstyled">
      <li ng-repeat="repositoryViewVerification in repositoryViewVerifications track by $index">
        <span ng-if="repositoryViewVerifications[$index].status === 'PENDING'" class="glyphicon glyphicon-repeat spinning"></span>
        <span ng-if="repositoryViewVerifications[$index].status === 'SUCCESS'" class="glyphicon glyphicon-check text-success"></span>
        <span ng-if="repositoryViewVerifications[$index].status === 'ERROR'" class="glyphicon glyphicon-ban-circle text-danger"></span>
        {{repositoryViewVerification.name}}
      </li>
      <li ng-if="results.status">
        <h3 ng-if="results.status==='SUCCESS'" class="text-success">Success!</h3>
        <h3 ng-if="results.status==='ERROR'" class="text-danger">Failed!</h3>
      </li>
    </ul>
  </div>
  <div class="col-sm-3" ng-if="results.status==='ERROR'">
    <alerts view="views/alerts/repositoryViewVerificationAlert.html" channels="repository-view/verification/ping,repository-view/verification/auth,repository-view/verification/content," exclusive></alerts>
  </div>
</div>