<div class="row">
    <div class="col-sm-3 col-sm-offset-1 text-center">
        <button type="button" class="btn btn-success btn-lg" ng-click="verifyRvConnection()" ng-disabled="disableVerify()">Verify Connection</button>
    </div>
    <div class="col-sm-5">
        <div class="alert alert-info" ng-show="disableVerify()">{{rv.type}} VRs do not support verification</div>        
        <ul ng-if="(rv&& !disableVerify()) || verificationFinished" class="list-unstyled">
            <li ng-repeat="rvVerification in rvVerifications track by $index">
                <span ng-if="rvVerifications[$index].status === 'PENDING'" class="glyphicon glyphicon-repeat spinning"></span> 
                <span ng-if="rvVerifications[$index].status === 'SUCCESS'" class="glyphicon glyphicon-check text-success"></span>
                <span ng-if="rvVerifications[$index].status === 'ERROR'" class="glyphicon glyphicon-ban-circle text-danger"></span>
                {{rvVerification.name}}
            </li>
            <li ng-if="results.status">
                <h3 ng-if="results.status==='SUCCESS'" class="text-success">Success!</h3>
                <h3 ng-if="results.status==='ERROR'" class="text-danger">Failed!</h3>
            </li>
        </ul>
    </div>
    <div class="col-sm-3" ng-if="results.status==='ERROR'">                  
        <alerts view="views/alerts/rvVerificationAlert.html" channels="rv/verification/ping,rv/verification/auth,rv/verification/content," exclusive></alerts>
    </div>
</div>