<div class="repository-view-management">

  <admintabs></admintabs>

  <h1>Repository Management</h1>

  <div class="panel panel-default repository-view-container">

    <div class="panel-heading clearfix">
      <button class="btn btn-success pull-right" ng-click="startCreate()">New</button>
      <modal
        modal-id="createRepositoryViewModal"
        modal-view="views/modals/createRepositoryViewModal.html"
        modal-header-class="modal-header-primary"
        modal-fullscreen="true"
        wvr-modal-backdrop="static">
      </modal>
    </div>

    <div class="panel-body">
      <table ng-table="tableParams" class="table table-hover repository-view-table">
        <tbody>
          <tr ng-repeat="repositoryView in $data | orderBy: 'name'">
            <td data-title="'Name'">
              {{repositoryView.name}}
            </td>
            <td data-title="'Root URI'">
                {{repositoryView.rootUri}}
            </td>
            <td data-title="'Schemas'">
              <span class="badge clickable" ng-click="showSchemas(repositoryView.schemas)">{{repositoryView.schemas.length || 0}}</span>
            </td>
            <td data-title="'Actions'" class="actions">
                <a href="repository-view/{{repositoryView.name}}?context={{repositoryView.rootUri}}" title="view" class="glyphicon glyphicon-eye-open action"></a>
                <span title="edit" ng-click="editRepositoryView(repositoryView)" class="glyphicon glyphicon-pencil action"></span>
                <span title="delete" ng-click="confirmDeleteRepositoryView(repositoryView)" class="glyphicon glyphicon-trash action"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <modal
    modal-id="repositoryViewDeleteModal"
    modal-view="views/modals/repositoryViewDeleteModal.html"
    modal-header-class="modal-header-danger"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="repositoryViewEditModal"
    modal-view="views/modals/repositoryViewEditModal.html"
    modal-header-class="modal-header-warning"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="showSchemasModal"
    modal-view="views/modals/showSchemasModal.html"
    modal-header-class="modal-header-info"
    wvr-modal-backdrop="static">
  </modal>

</div>
