<div class="schema-management">

  <admintabs></admintabs>

  <h1>Schema Management</h1>

  <div class="panel panel-default repository-view-container">

    <div class="panel-heading clearfix">
      <button class="btn btn-success pull-right" ng-click="createSchema(schema)">New</button>
    </div>

    <div class="panel-body">
      <table ng-table="tableParams" class="table table-hover repository-view-table">
        <tbody>
          <tr ng-repeat="schema in $data | orderBy: 'name'">
            <td data-title="'Name'">
              {{schema.name}} ({{schema.abbreviation}})
            </td>
            <td data-title="'Namespace'">
                <a target="_blank" href="{{schema.namespace}}">{{schema.namespace}}</a>
            </td>
            <td data-title="'Properties'">
                <span class="badge clickable" ng-click="showProperties(schema.properties)">{{schema.properties.length || 0}}</span>
            </td>
            <td data-title="'Actions'" class="actions">
                <span title="edit" ng-click="editSchema(schema)" class="glyphicon glyphicon-pencil action clickable"></span>
                <span title="delete" ng-click="deleteSchema(schema)" class="glyphicon glyphicon-trash action clickable"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <modal
    modal-id="schemaCreateModal"
    modal-view="views/modals/schemaCreateModal.html"
    modal-header-class="modal-header-primary"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="schemaEditModal"
    modal-view="views/modals/schemaEditModal.html"
    modal-header-class="modal-header-warning"
    modal-fullscreen="true"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="schemaDeleteModal"
    modal-view="views/modals/schemaDeleteModal.html"
    modal-header-class="modal-header-danger"
    wvr-modal-backdrop="static">
  </modal>

  <modal
    modal-id="showPropertiesModal"
    modal-view="views/modals/showPropertiesModal.html"
    modal-header-class="modal-header-info"
    wvr-modal-backdrop="static">
  </modal>

</div>
