
// $primary: #500000;
// $secondary: #3c0000;
// $baseFontSize: 14pt;
// $linkColor: #337ab7;

// @import "main";
// @import "theme-base";

@import "overrides/all";
@import "imports";

body {
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #70706f;
}

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 65px;
}