

@import "variables/all";
@import "theme-base";

@import "overrides/all";
@import "imports";
@import "main";

body {
  font-family: Arial, Helvetica, Sans-Serif;
  display: none;
}

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 65px;
}